<ion-header>
  <ion-toolbar color="danger">      
    <ion-title text-center>
        RECETTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin>
    <ion-card-content no-padding>
      <img src="../../assets/icon/food.png" />
      <P text-center font-size:15px>Bienvenue dans l'application de gestion des recettes, sans plus tardez bonne manoeuvre
        de l'application !!!!
      </P>
      <ion-row>
        <ion-col offset="4" offset-md="5">
          <ion-button (click)="onClick()" color="success" offset="2">
            ENTRER
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
